@import './../../fonts/Gilroy/gilroy-bold.css';

UL {
    list-style: none;
    margin: 0;
    padding: 0;
    LI {
        font-family: 'Gilroy-Bold';
        font-size: 17px;
        margin: 50px 0 0 0;
        padding: 0;
        position: relative;
        color: #3E445B;
        SPAN {
            position: absolute;
            top: 0;
        }
        &:first-child {
            list-style: url('./../../img/menu/wallet.jpg') inside;
        }
        &:nth-child(2){
            list-style: url('./../../img/menu/staked.jpg') inside;
        }
        &:nth-child(3){
            list-style: url('./../../img/menu/ambasdors.jpg') inside;
        }
        &:nth-child(4){
            list-style: url('./../../img/menu/followers.jpg') inside;
        }
    }
}