@import './../../fonts/Roboto/roboto.css';
@import './../../fonts/Gilroy/stylesheet.css';

.account {
    font-family: 'Roboto';
    background-image: url('./../../img/icons/main_icon.jpg');
    background-repeat: no-repeat;
    background-position: 16px 0;
    height: 56px;
    padding: 0 0 0 88px;
    margin: 0 0 32px 0;
    position: relative;
    SPAN {
        color: #a9abb6;
        padding: 0 20px 2px 0;
        position: relative;
        IMG {
            position: absolute;
            top: 3px;
            right: 0;
            &:hover {
                cursor: pointer;
            }
        }
        SPAN {
            color: #3e445b;
            background: none;
            padding: 0;
            &:hover {
                cursor: pointer;
            }
        }
    }
    P {
        font-family: 'Gilroy';
        font-weight: bold;
        font-size: 20px;
        padding: 0 20px 0 0;
        margin: 0;
        position: absolute;
        bottom: 0;
        IMG {
            position: absolute;
            top: 5px;
            right: 0;
            &:hover {
                cursor: pointer;
            }
        }
    }
}